<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="300">

    <Properties>
        <Property name="LOG_HOME" value="/Users/zhujiajun/Work/logs/adult"/>
        <Property name="ADULT" value="adult"/>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- 输出到文件，按天或者超过80MB分割 -->
        <RollingFile name="${ADULT}" fileName="${LOG_HOME}/${ADULT}.log" filePattern="${LOG_HOME}/$${date:yyyy-MM}/${ADULT}-%d{yyyy-MM-dd}-%i.log.gz">
            <!-- 需要记录的级别 -->
            <!-- <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" /> -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS}:%4p %t (%F:%L) - %m%n" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="80MB" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="com.github.zjiajun.adult" level="INFO" additivity="false">
            <AppenderRef ref="${ADULT}"/>
        </Logger>


    </Loggers>

</Configuration>