<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <property name="LOGS_NAME" value="adult" />
    <property name="LOGS_HOME" value="/Users/zhujiajun/Work/logs/${LOGS_NAME}/" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger %X{sourceThread} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ADULT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_HOME}adult.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOGS_HOME}adult-%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
        <append>true</append>
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger %X{sourceThread} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_HOME}error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOGS_HOME}error-%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
        <append>true</append>
        <encoder>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{80} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level = "info">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name = "com.github.zjiajun.adult" level = "info" additivity="false">
        <appender-ref ref="ADULT_FILE"/>
    </logger>

    <logger name = "adult.error" level = "error" additivity="false">
        <appender-ref ref="ERROR_FILE"/>
    </logger>



</configuration>
